body {
    background: #B4CDCD;
    margin: 0;
}

#wrapper {
    width: 50%;
    margin: 0 auto;
    background: #ffffff;
    padding: 20px;
    min-height: 600px;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
    color: #528B8B;
}

a:hover {
    color: #B4CDCD;
}

.active {
    background: #C0D9D9;
}

.hovering {
     background: #E0EEEE;
}

#searchbar { 
    padding: 10px 5px; 
}

#output2 {
    background: #f2f2f2;
}

form, #searchbar {
    -webkit-transition-duration: 200ms;
    -moz-transition-duration: 200ms;
    -o-transition-duration: 200ms;
    transition-duration: 200ms;
}

